*{
    padding: 0;
    margin: 0;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 60%;
    padding: 40px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gender-inp{
    padding: 0 10px ;
    margin: 0 10px ;
}
.inp-container{
    display: flex;
    width: 300px;
    padding: 15px;
}
.inp-info-text{
    padding: 0 10px ;
}
.inp-hobby{
    margin: 0 5px ;
}
.btn{
    width: 69px;
    margin: 10px;
    padding: 6px;
}
.text-type-inp{
    padding: 5px;
    border-radius: 7px;
}
.table-btn{
    width: 100px;
    margin: 10px;
    padding: 6px;
}