.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    
    width: 40%;
    text-align: center;
    border: 1px solid black;
}
tr{
    border: 1px solid black;  
}
td{
    border: 1px solid black;
}